//override
section, .section {
  padding:0 0 $margin-bottom-desktop;
  @media all and (max-width: 60rem) {
    padding:0 0 $margin-bottom-mobile;
  }
}

.wrapper {
  padding: 0 15px;
  @media only screen and (min-width: $bp-large) {
    padding: 0;
  }
}

a { color: #333; }